body{
    text-align: center;
    background-color:#F2F7FB;
}
.text{
    font-family: Rajdhani;
    font-style: normal;
    font-weight: bold;;
    color: white;;
}
thead th{
    background-color: #D89279
}

#halo{
    font-family: Radjhani;
    font-size: 4rem;
}
.buttonUpdate{
    background-color:#EEE3DD ; 
    color:black;
}