
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8">
        <meta name= "viewport" content="width=device-width, initial-scale=1.0">
        <title>Astrid Chaerida</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'acit1.css' %}">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src='https://kit.fontawesome.com/a076d05399.js'></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
      
    </head>
       
    <body>
      <br>
      <br>
      <!--TEXT-->
      <h1 id ="halo" class="text-center"> Halo, Apa Kabar? </h1>
      <!--FORM -->
      <form action ="{% url 'StatusPost' %}" style="margin-right: auto;margin-left: auto;" method ="post" class="form-horizontal " method="post">
        {% csrf_token %}
        <div style="margin:auto;"class="form-row justify-content-center text">
          <div style="color: black;" class="form-group form-horizontal justify-content-center col-sm-4 field">
            {{ form }}
          </div>
        </div>
        <div style="margin-right: auto;margin-left: auto;"class="form-row form-horizontal justify-content-center ">
              <button  class="btn text buttonUpdate" type="submit">Update Status</button>
        </div>
      </form>
      <br>



      <!--TABLE-->
      <div class="text-center">
          <form style="margin-right: auto;margin-left: auto;" action="{% url 'StatusPost' %}" method="get"  class="col-md-4 text text-center" >
              <div  class="row ">
                  <table style="margin-right: auto;margin-left: auto;"class="table table-responsive-sm">
                      <thead >
                        <th class="text-center">
                          <h1 style="color: white;font-weight: 600;"> Astrid's Status</h1>
                        </th>
                      </thead>
                      <tbody>
                        {% for post in AllStatus %}
                        <tr style="background-color:#CDD3C2;"> 
                          <td>
                            <h2 style="color:darkslategray; font-weight: bolder; ">{{post.tanggal}}</h2>
                            <h5 style="color:darkslategray;">{{post.status}}</h5>
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
              </div>   
            </form>
    </body>

</html>
        
      
        
           
        

          












